<app-users (filterUser)="onUserSelect($event)"></app-users>
<div class="task-list" *ngIf="tasks$ | async as tasks">
  <ng-container *ngIf="tasks.length > 0; else emptyTask">
    <div class="card highlight-card card-small" *ngFor="let task of tasks">
      <div class="task-wrapper">
        <p>{{ task.name }}</p>
        <div class="task-inprogress">
          <p>In progress:</p>
          <select (change)="assignTo($event, task)">
            <option>Assign to</option>
            <option
              *ngFor="let user of users$ | async"
              [value]="user.id"
              [selected]="user.id === task.assignToUser"
            >
              {{ user?.name }}
            </option>
          </select>
        </div>
        <div class="task-inprogress">
          <p>Status:</p>
          <select (change)="onChangeStatus($event, task)">
            <option>Status</option>
            <option
              *ngFor="let status of statuses$ | async"
              [value]="status.value"
              [selected]="task.status === status.value"
            >
              {{ status.value }}
            </option>
          </select>
        </div>
        <button (click)="goToDetail(task)">View detail</button>
      </div>
    </div>
  </ng-container>
</div>
<div class="button-wrapper">
  <button (click)="createTask()">Create task</button>
</div>

<ng-template #emptyTask>
  <div class="empty-task">No task added</div>
</ng-template>
