.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
  gap: 20px;

  .task-detail {
    background: #ddd;
    padding: 10px 20px;
    border-radius: 4px;

    .flex {
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }
  }
}
