<div class="task-container" *ngIf="selectedTask$ | async as task">
  <div class="task-detail">
    <div class="flex">
      Task:
      <p>{{ task.name }}</p>
    </div>

    <div class="flex">
      Description:
      <p>{{ task.description }}</p>
    </div>

    <div class="flex">
      Assign to:
      <p *ngIf="selectedUser$ | async as user">{{ user.name }}</p>
    </div>

    <div class="flex">
      Status:
      <p>{{ task.status }}</p>
    </div>
  </div>
  <button (click)="onBack()">Back</button>
</div>
