.users-list {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  .user {
    padding: 10px;
    background: cornflowerblue;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;

    &.active {
      transform: scale(1.2);
      background: darkgoldenrod;
    }
  }
}
