* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  background: cornflowerblue;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
